.header-top{
	background:#2d2d2d;
}
.header-grid{
	float:left;
}
.logo{
	float:left;
}
.top-nav{
	float:left;
}
.header-grid ul li{
	display:inline-block;
	padding:1.4em 1em;
}
.header-grid ul li a{
	color:#fff;
	font-size:1.1em;
	text-decoration:none;
}
.header-grid ul li a:hover{
	color:#bc3726;
}
.search{
	float:right;
}
.ad-right {
	float:right;
	padding: 0.7em 0;
}
.ad-right img{
	width:100%;
}
.header-grid-right{
	float:right;
	padding:15px 0;
}
.header-grid-right label{
	color:#fff;
	font-size:19px;
	float:left;
}
a.sign-in{
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
	float: left;
	width: 11%;
	padding: 4px 0;
	font-weight: 600;
}
.header-grid-right input[type="text"],.header-grid-right input[type="submit"]{
	outline: none;
	border: none;
	background: #4a4a4a;
	color: #ababab;
	font-size: 0.9em;
	padding: 5px 12px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	float: left;
	width: 27%;
	margin-right: 18px;
}
.header-grid-right input[type="submit"]{
	background: #ea6a53;
	width: 7%;
	margin-right: 25px;
	font-weight: 600;
	color:#fff;
}
a.sign-up{
	font-size: 1.1em;
	text-decoration: none;
	float: left;
	padding: 4px 0;
	font-weight: 600;
	color: #ea6a53;
	width: 14%;
	padding: 4px 0px 4px 13px;
}
a.sign-up:hover{
	color:#FD1E01;
}

/*----*/
.header-bottom-bottom{
	background:#c3c3c3;
}
.top-nav ul li{
	display:inline-block;
	padding: 1em;
	border-right: 1px solid #A7A5A5;
}
.top-nav ul li a{
	text-decoration:none;
	color:#000;
	font-size:1.2em;
	font-family: 'Oswald', sans-serif;
}
.top-nav ul li a:hover,.top-nav ul li.active a{
	color:#fff;
}

.search {
    margin: 0.8em 0.8em 0 0em;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    position: relative;
    background: #fff;
    padding: 5px 0px;
    width: 15%;
    float: right;
}

.search input[type="text"] {
    outline: none;
    padding-left: 10px;
    background: none;
    width: 79.33%;
    border: none;
    font-size: 1em;
    color: #888;
}

.search input[type="submit"] {
    width: 20px;
    height: 20px;
    background: url(/assets/images/img-sprite.png) 0px 0px;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    margin: 1px 0px 0px 6px;
}

