<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-grid">
                <ul>
                    <li><a href="articles.html" class="scroll">Articles</a></li>
                    <li><a href="contact.html" class="scroll">Contact </a></li>
                    <li><a href="privacy.html" class="scroll">Privacy</a></li>
                    <li><a href="#" class="scroll">Terms</a></li>
                </ul>
            </div>
            <div class="header-grid-right">
                <a href="#" class="sign-in">Sign In</a>
                <form>
                    <input
                        type="text"
                        value="Username"
                        onfocus="this.value='';"
                        onblur="if (this.value == '') {this.value ='';}"
                    />
                    <input
                        type="text"
                        value="Password"
                        onfocus="this.value='';"
                        onblur="if (this.value == '') {this.value ='';}"
                    />
                    <input type="submit" value="Go" />
                </form>
                <label>|</label>
                <a href="signup.html" class="sign-up">Sign Up</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        <div class="header-bottom">
            <div class="logo">
                <a routerLink="" routerLinkActive="active"><img src="assets/images/logo.png" alt=" " /> </a>
            </div>
            <div class="ad-right">
                <img class="img-responsive" src="assets/images/ad.png" alt=" " />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-bottom-bottom">
            <app-navbar></app-navbar>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
