.header-top {
    background: #2d2d2d;
}
.header-grid {
    float: left;
}
.logo {
    float: left;
}

.header-grid ul li {
    display: inline-block;
    padding: 1.4em 1em;
}
.header-grid ul li a {
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
}
.header-grid ul li a:hover {
    color: #bc3726;
}

.ad-right {
    float: right;
    padding: 0.7em 0;
}
.ad-right img {
    width: 100%;
}
.header-grid-right {
    float: right;
    padding: 15px 0;
    color: #fff;
    font-size: 19px;
}

/*----*/
.header-bottom-bottom {
    background: #c3c3c3;
}
