@use 'partials/variables' as var;
/* start available */
.available {
    margin-top: 10px;
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    h4 {
        font-size: 1.1em;
        color: #777;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #ffffff;
    }
    li {
        display: inline;
        font-size: 0.8125em;
        padding: 1.5% 2%;
        color: #555555;
        select {
            font-family: 'Source Sans Pro', sans-serif;
            outline: none;
            display: inline;
            font-size: 1em;
            color: #555555;
            margin-left: 10px;
            padding: 4px;
            border: 1px solid rgb(224, 224, 224);
        }
    }
    span {
        a {
            padding-top: 35px;
            display: block;
            color: #555555;
            font-size: 0.8725em;
            text-transform: uppercase;
            text-decoration: underline;
            margin-right: 10px;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

/*----*/
.form-in {
    margin-top: 3em;
    float: left;
    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        background: #bc3726;
        padding: 0.6em 1em;
    }
    a:hover {
        background: var.$light-orange;
    }
}

/*----*/
.span_right {
    float: right;
    margin-top: 1em;
    a {
        padding-top: 0;
    }
}
