<div class="available">
    <h4>Available Options :</h4>
    <ul>
        <li>
            Size:
            <select>
                <option>L</option>
                <option>XL</option>
                <option>S</option>
                <option>M</option>
            </select>
        </li>
        <li>
            Quality:
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </li>
    </ul>
    <div class="form-in">
        <a href="#">Add To Cart</a>
    </div>
    <span class="span_right"><a href="#">login to save in wishlist </a></span>
    <div class="clearfix"></div>
</div>
