.in-line {
    padding: 2em 0;
}

/*----INTRO---*/
.para-an h3 {
    font-size: 2em;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

.para-an p {
    font-size: 1em;
    color: #858585;
    padding: 0.5em 0 1em;
}

.para-an {
    border-bottom: 1px solid #d1d0d0;
}

/*---product-list----*/
.lady-in {
    padding: 1.5em 0 0;
}
