/*--single--*/
.single {
    padding: 3em 0;
}

.grid {
    float: left;
    width: 37%;
}

.span1_of_1_des {
    float: right;
    width: 58%;
    margin-left: 3.333%;
}

/* start desc1 */
.desc1 {
    h3 {
        color: #000;
        font-size: 2em;
        margin-bottom: 10px;
        font-family: 'Oswald', sans-serif;
    }

    h5 {
        margin-top: 2%;
        font-size: 1.6em;
        color: #bc3726;
        line-height: 1.5em;
        text-shadow: 0 1px 0 #ffffff;
        a {
            margin-left: 5px;
            color: #555555;
            text-transform: capitalize;
            font-size: 14px;
        }
        a:hover {
            color: #bc3726;
        }
    }
    p {
        font-size: 1em;
        color: #767676;
        line-height: 1.8em;
    }
}

/*----*/
.w_sidebar {
    border: 1px solid #ebebeb;
}
