<div class="container">
    <div class="single">
        <div class="col-md-9">
            <div class="single_grid">
                <div class="grid images_3_of_2">
                    <app-product-img-magnifier
                        [thumbImage]="'assets/images/sin1.jpg'"
                        [fullImage]="'assets/images/sin-1.jpg'"
                    >
                    </app-product-img-magnifier>
                    <div class="clearfix"></div>
                </div>
                <!---->
                <div class="span1_of_1_des">
                    <div class="desc1">
                        <h3>Lorem Ipsum is simply dummy text</h3>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. Nam liber tempor cum soluta nobis eleifend option congue
                            nihil imperdiet doming id quod mazim placerat facer possim assum.
                        </p>
                        <h5>Rs. 399 <a href="#">click for offer</a></h5>
                        <app-order-options></app-order-options>
                        <app-product-share></app-product-share>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
