<section class="sky-form">
    <h4>catogories</h4>
    <div class="row1 scroll-pane">
        <div class="col col-4">
            <label class="checkbox"><input type="checkbox" name="checkbox" checked="" /><i></i>kurtas</label>
        </div>
        <div class="col col-4">
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>kutis</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>churidar kurta</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>salwar</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>printed sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>shree</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>Anouk</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>biba</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
            <label class="checkbox"><input type="checkbox" name="checkbox" /><i></i>fashion sari</label>
        </div>
    </div>
</section>
