<section class="sky-form">
    <h4>catogories</h4>
    <div class="row1 row scroll-pane">
        <div class="col">
            <mat-checkbox class="checkbox">kurtas</mat-checkbox>
            <mat-checkbox class="checkbox">churidar kurta</mat-checkbox>
            <mat-checkbox class="checkbox">salwar</mat-checkbox>
            <mat-checkbox class="checkbox">printed sari</mat-checkbox>
            <mat-checkbox class="checkbox">Anouk</mat-checkbox>
            <mat-checkbox class="checkbox">shree</mat-checkbox>
            <mat-checkbox class="checkbox">biba</mat-checkbox>
            <mat-checkbox class="checkbox">fashion sari</mat-checkbox>
            <mat-checkbox class="checkbox">fashion sari</mat-checkbox>
            <mat-checkbox class="checkbox">fashion sari</mat-checkbox>
            <mat-checkbox class="checkbox">fashion sari</mat-checkbox>
            <mat-checkbox class="checkbox">fashion sari</mat-checkbox>
        </div>
    </div>
</section>
