<div class="card">
    <div class="d-card__header">
        <span>15<label>%</label></span>
        <small>off</small>
    </div>
    <a routerLink="/products/{{ product.id }}">
        <img class="img-responsive card-img-top" src="assets/images/{{ product.image }}" alt=" " />
    </a>
    <p class="d-card__title card-title">Premium Denim Women's Hidden</p>
    <div class="card-footer">
        <span>{{ 179.0 | currency }} | <a class="btn btn-sm btn--orange" href="#">Add to Cart </a></span>
    </div>
</div>
