@use 'variables' as var;
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: #f6f6f4;
    a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
}
/*----*/
ul {
    padding: 0;
    margin: 0;
}
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.btn--orange {
    background-color: var.$dark-orange;
    color: #fff !important;
}

.btn--orange:hover {
    background-color: var.$light-orange;
}

.d-flex {
    display: flex;
}
