<div class="sap_tabs">
    <mat-tab-group>
        <mat-tab label="Product Description">
            <div class="facts">
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined
                </p>
                <ul>
                    <li>Research</li>
                    <li>Design and Development</li>
                    <li>Porting and Optimization</li>
                    <li>System integration</li>
                    <li>Verification, Validation and Testing</li>
                    <li>Maintenance and Support</li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Additional Information">
            <div class="facts">
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined
                </p>
                <ul>
                    <li>Research</li>
                    <li>Design and Development</li>
                    <li>Porting and Optimization</li>
                    <li>System integration</li>
                    <li>Verification, Validation and Testing</li>
                    <li>Maintenance and Support</li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Reviews">
            <div class="facts">
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined
                </p>
                <ul>
                    <li>Research</li>
                    <li>Design and Development</li>
                    <li>Porting and Optimization</li>
                    <li>System integration</li>
                    <li>Verification, Validation and Testing</li>
                    <li>Maintenance and Support</li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
