body{
	background:#f6f6f4;
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*----*/
 ul{
	padding: 0;
	margin: 0;
}
h2,h3,h4,h5,h6,p{
	margin:0;
}
  