<div class="container">
    <div class="women-in">
        <div class="col-md-9 col-d">
            <app-banner></app-banner>
            <!---->
            <app-products-list></app-products-list>
        </div>
        <div class="col-md-3 col-m-left">
            <div class="in-left">
                <p class="code">Cool COLLECTIONS</p>
                <div class="cool"></div>
            </div>
            <div class="discount">
                <a href="single.html"
                    ><img class="img-responsive product-image" src="assets/images/p2.jpg" alt=" " />
                </a>
                <p class="no-more">Exclusive <b>discount</b> <span>Womens wear</span></p>
                <a href="#" class="know-more">know more</a>
            </div>
            <div class="discount">
                <a href="single.html"
                    ><img class="img-responsive product-image" src="assets/images/p3.jpg" alt=" "
                /></a>
                <p class="no-more no-get">Get Exclusive <b>discount on</b> <span>Ladies wear</span></p>
                <a href="#" class="know-more">know more</a>
            </div>
            <div class="twitter-in">
                <h5>TWITTER UPDATES</h5>
                <span class="twitter-ic"> </span>
                <div class="up-date">
                    <p>@suniljoshi Looks like nice and dicent design</p>
                    <a href="#">http://bit.ly/sun</a>
                    <p class="ago">About 1 hour ago via twitterfeed</p>
                </div>
                <div class="up-date">
                    <p>@suniljoshi Looks like nice and dicent design</p>
                    <a href="#">http://bit.ly/sun</a>
                    <p class="ago">About 1 hour ago via twitterfeed</p>
                </div>
                <a href="#" class="tweets">More Tweets</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
